@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Lato, system-ui, sans-serif;
  }

  .radial-1 {
    background-image: radial-gradient(
      farthest-corner at 40px 40px,
      #F85A3E 0%,
      #FFBA08 100%
    );
  }

  .radial-2 {
    background-image: radial-gradient(
      farthest-corner at 70px 60px,
      #F85A3E 10%,
      #FFBA08 100%
    );
  }

  .radial-3 {
    background-image: radial-gradient(
      farthest-corner at 10px 30px,
      #F85A3E 20%,
      #FFBA08 100%
    );
  }
}